# 11. Classes and Objects in Python

 * __Python is an object-orented programming language.__
 * __Unlike procedure-oriented programming, where the main emphasis is on funcitons, obejct-oriented programming stresses on object.__
 * __An object is simply a colleciton of data (variables) and methods (functions) that act on those data.__
 * __Similarly, a class is a blueprint for that object.__
 * __Like funciton definitions begin with the def keyword in Python, class definitions begin with a class keyword.__
 * __The first string inside the class is called docsting and has a bried description of the class.__
 * __Although not mandatory, this highly recommended.__

In [2]:
class student:
    def __init__(self,name,age,address):
        self.name=name
        self.age=age
        self.address=address

x=student('Aditi Kute',45,'Pune')
print(x.name)
print(x.age)
print(x.address)

Aditi Kute
45
Pune

In [5]:
class mahindra:
    def __init__(aditi,name,color,price):
        aditi.name=name
        aditi.color=color
        aditi.price=price

car=mahindra("Thar","Red","20 Lacs")
print(car.name)
print(car.color)
print(car.price)

Thar
Red
20 Lacs

In [8]:
rupali=mahindra('Thar','Pink','25 Lacs')
print(rupali.name)
print(rupali.color)
print(rupali.price)

Thar
Pink
25 Lacs

In [14]:
class mahindra:
    def __init__(aditi,name,color,price): # constructor
        aditi.name=name
        aditi.color=color
        aditi.price=price

    def details(aditi):
        print(f'Your Car model is:{aditi.name}')
        print(f'Your Car Color is:{aditi.color}')
        print(f'You Car Price is:{aditi.price}')

car=mahindra("Thar","Red","20 Lacs")
car.details()

Your Car model is:Thar
Your Car Color is:Red
You Car Price is:20 Lacs

In [15]:
x=mahindra('Thar','Pink','40 Lacs')
x.details()

Your Car model is:Thar
Your Car Color is:Pink
You Car Price is:40 Lacs

In [17]:
# Class studen (name,age, roll no, subject,college, email,address,phone,)

class student:
    def __init__(self,name,age,roll_no,college,email,add,phone):
        self.name = name
        self.age = age
        self.roll_no = roll_no
        self.college = college
        self.email = email
        self.add = add
        self.phone = phone
    def details(self):
         print(f"Your name is : {self.name}")
         print(f"Your age is : {self.age}")
         print(f"Your roll no is : {self.roll_no}")
         print(f"Your college name  is : {self.college}")
         print(f"Your email id is : {self.email}")
         print(f"Your address is : {self.add}")
         print(f"Your phone number is : {self.phone}")

student_1 = student("Sidhhika","26 years", "21", "Fergusson college", "sidhhika@gmail.com", "Pune", "12344566")
student_1.details()

Your name is : Sidhhika
Your age is : 26 years
Your roll no is : 21
Your college name  is : Fergusson college
Your email id is : sidhhika@gmail.com
Your address is : Pune
Your phone number is : 12344566

In [18]:
student_1.name

'Sidhhika'

In [27]:
class student:
    def __init__(self,name,age,rollno,subject,college):
        self.name=name
        self.age=age
        self.rollno=rollno
        self.subject=subject
        self.college=college

    
    def details(self):
        print(f'your name is:{self.name}')
        print(f'your age is:{self.age}')
        print(f'your roll no is:{self.rollno}') 
        print(f'your subject is:{self.subject}')
        print(f'your college is:{self.college}')
        
aditi=student("Aditi kute",28,18,"python","symbiosis")
aditi.details()

your name is:Aditi kute
your age is:28
your roll no is:18
your subject is:python
your college is:symbiosis

In [26]:
class student:
    def __init__(self,name,age,roll_no,subject,college,email,adress,phone):
        self.name=name
        self.age=age
        self.roll_no=roll_no
        self.subject=subject
        self.college=college
        self.email=email
        self.adress=adress
        self.phone=phone
    def details(self):
        print(f"Name of student is:\n{self.name}")
        print(f"Age of student is:\n{self.age}")
        print(f"Roll no of student is:\n{self.roll_no}")
        print(f"subject which student learns :\n{self.subject}")
        print(f"Name of college where student is learning:\n{self.college}")
        print(f"Email adress of student is:\n{self.email}")
        print(f"Adress of student is:\n{self.adress}")
        print(f"Phone number of student is :\n{self.phone}")
value=student('sahil',21,22,'Maths','D.Y. patil','sahilr32@gmail.com','Pune',914567342)
value.details()

Name of student is:
sahil
Age of student is:
21
Roll no of student is:
22
subject which student learns :
Maths
Name of college where student is learning:
D.Y. patil
Email adress of student is:
sahilr32@gmail.com
Adress of student is:
Pune
Phone number of student is :
914567342

In [32]:
class student:
    def __init__(self,name,age,roll_no,college,email,add,phone):
        self.name = name
        self.age = age
        self.roll_no = roll_no
        self.college = college
        self.email = email
        self.add = add
        self.phone = phone
    
    def fill_details(self):
        print(f'your name is:{self.name}')
        print(f'your age is:{self.age}')
        print(f'your roll no is:{self.roll_no}') 
        print(f'your subject is:{self.subject}')
        print(f'your college is:{self.college}')
        
name=input('Enter your name:')
age=int(input('Enter your age name:'))
roll_no=int(input('Enter your Roll no.:'))
college=input('Enter your college name:')
email=input('Enter your email:')
add=input('Enter your address:')
phone=input('Enter your phone no.:')
student_1 = student(name,age,roll_no,college,email,add,phone)
student_1.fill_details()

Enter your name: rupali
Enter your age name: 78
Enter your Roll no.: 1
Enter your college name: fergussion
Enter your email: xyz@gmail.com
Enter your address: pune
Enter your phone no.: 100

your name is:rupali
your age is:78
your roll no is:1

AttributeError: 'student' object has no attribute 'subject'

In [36]:
class student:
    def __init__(self,name,age,roll_no,college,email,add,phone):
        self.name = name
        self.age = age
        self.roll_no = roll_no
        self.college = college
        self.email = email
        self.add = add
        self.phone = phone
    
    def fill_details(self,):
        print('--------------------------------------')
        print(f"Your name is : {self.name}")
        print(f"Your age is : {self.age}")
        print(f"Your roll no is : {self.roll_no}")
        print(f"Your college name  is : {self.college}")
        print(f"Your email id is : {self.email}")
        print(f"Your address is : {self.add}")
        print(f"Your phone number is : {self.phone}")
        
name = input("Enter your name")
age = input("Enter your age")
roll_no = input("Enter your roll_number")
college = input("Enter your college name")
email = input("Enter your email address")
add = input("Enter your address")
phone = input("Enter your phone number")
student_1 = student(name,age,roll_no,college,email,add,phone)
student_1.fill_details()

Enter your name xyz
Enter your age 10
Enter your roll_number 45
Enter your college name xyz
Enter your email address @gmail.com
Enter your address pune
Enter your phone number 100

--------------------------------------
Your name is : xyz
Your age is : 10
Your roll no is : 45
Your college name  is : xyz
Your email id is : @gmail.com
Your address is : pune
Your phone number is : 100

In [1]:
# find the class: book : panchantantra, Comic: Nagraaj, author, publised by name  bio


class book:
    def __init__(self,name,author,publish):
        self.name = name
        self.author = author
        self.publish = publish
    def details(self):
        print(f"Book name is : {self.name}")
        print(f"Book is written by: {self.author}")
        print(f"The {self.name} is published by : {self.publish}")
comic = book("Nagraj","Parshuram Sharma","Raj Comics")
autobiography = book("Wings of fire","A.P.J.Abdul Kalam","Universities Press")
novel = book("Wise and Otherwise","Sudha Murty","Mehta Publishing House")
fiction =book("Harry Potter and Philosopher's Stone","J.K.Rowling","Bloomsbury")
romance =book("Half Girlfriend","Chetan Bahgat","Rupa and Co.")

comic.details()
print("\n---------------------------------------------------------\n")
autobiography.details()
print("\n---------------------------------------------------------\n")
novel.details()
print("\n---------------------------------------------------------\n")
fiction.details()
print("\n---------------------------------------------------------\n")
romance.details()

Book name is : Nagraj
Book is written by: Parshuram Sharma
The Nagraj is published by : Raj Comics

---------------------------------------------------------

Book name is : Wings of fire
Book is written by: A.P.J.Abdul Kalam
The Wings of fire is published by : Universities Press

---------------------------------------------------------

Book name is : Wise and Otherwise
Book is written by: Sudha Murty
The Wise and Otherwise is published by : Mehta Publishing House

---------------------------------------------------------

Book name is : Harry Potter and Philosopher's Stone
Book is written by: J.K.Rowling
The Harry Potter and Philosopher's Stone is published by : Bloomsbury

---------------------------------------------------------

Book name is : Half Girlfriend
Book is written by: Chetan Bahgat
The Half Girlfriend is published by : Rupa and Co.

In [2]:
class book:
    def __init__(self,name,author,publish):
        self.name = name
        self.author = author
        self.publish = publish
    def details(self):
        print(f"Book name is : {self.name}")
        print(f"Book is written by: {self.author}")
        print(f"The {self.name} is published by : {self.publish}")
comic = book("Nagraj","Parshuram Sharma","Raj Comics")
autobiography = book("Wings of fire","A.P.J.Abdul Kalam","Universities Press")
novel = book("Wise and Otherwise","Sudha Murty","Mehta Publishing House")
fiction =book("Harry Potter and Philosopher's Stone","J.K.Rowling","Bloomsbury")
romance =book("Half Girlfriend","Chetan Bahgat","Rupa and Co.")

print("* Comic->>")
comic.details()
print("\n---------------------------------------------------------\n")
print("* Autobiography->>")
autobiography.details()
print("\n---------------------------------------------------------\n")
print("* Novel->>")
novel.details()
print("\n---------------------------------------------------------\n")
print("* Fiction->>")
fiction.details()
print("\n---------------------------------------------------------\n")
print("* Romance->>")
romance.details()

* Comic->>
Book name is : Nagraj
Book is written by: Parshuram Sharma
The Nagraj is published by : Raj Comics

---------------------------------------------------------

* Autobiography->>
Book name is : Wings of fire
Book is written by: A.P.J.Abdul Kalam
The Wings of fire is published by : Universities Press

---------------------------------------------------------

* Novel->>
Book name is : Wise and Otherwise
Book is written by: Sudha Murty
The Wise and Otherwise is published by : Mehta Publishing House

---------------------------------------------------------

* Fiction->>
Book name is : Harry Potter and Philosopher's Stone
Book is written by: J.K.Rowling
The Harry Potter and Philosopher's Stone is published by : Bloomsbury

---------------------------------------------------------

* Romance->>
Book name is : Half Girlfriend
Book is written by: Chetan Bahgat
The Half Girlfriend is published by : Rupa and Co.

In [3]:
#Cleat a class animal
#Condrtuct following : (1) kingdom, (2) phylum or division, (3) class1, (4) order, (5) family, (6) genus, and (7) species.
# For animals Tiger,Horse,Cat,Dog

#Cleat a class animal
#Condrtuct following : (1) kingdom, (2) phylum or division, (3) class1, (4) order, (5) family, (6) genus, and (7) species.
# For animals Tiger,Horse,Cat,Dog

class animal:
    def __init__(self,name,kingdom,phylum,class1,order,family,genus,species):
        self.name = name
        self.kingdom = kingdom
        self.phylum = phylum
        self.class1 = class1
        self.order = order
        self.family = family
        self.genus = genus
        self.species = species
    def details(self):
        print(f"Scientific name of animal is : {self.name}")
        print(f"kingdom of animal is : {self.kingdom}")
        print(f"phylum of animal is : {self.phylum}")
        print(f"class1 of animal is : {self.class1}")
        print(f"order of animal is : {self.order}")
        print(f"family of animal is : {self.family}")
        print(f"genus of animal is : {self.genus}")
        print(f"species of animal is : {self.species}")

Tiger = animal("Panthera tigris","Animalia","Chordata","Mammalia","Carnivora","Felidae","Panthera","tigris")
Horse =animal("Equus caballus","Animalia","Chordata","Mammalia","Perissodactyla","Equidae","Equus","E. ferus")
Dog = animal("Canis lupus familiarise","Animalia","Chordata","Mammalia","Carnivora","Canidae","Canis","Canis lupus")
Cat = animal("Felis catus","Animalia","Chordata","Mammalia","Carnivora","Felidae","Felis","Catus")

print("\n----------------------------------------------------------------------------------------------------------------------------------\n")
print("* Tiger -->>\n")
Tiger.details()
print("\n----------------------------------------------------------------------------------------------------------------------------------\n")
print("* Horsee -->>\n")
Horse.details()
print("\n----------------------------------------------------------------------------------------------------------------------------------\n")
print("* Dog -->>\n")
Dog.details()
print("\n----------------------------------------------------------------------------------------------------------------------------------\n")
print("* Cat -->>\n")
Cat.details()
print("\n----------------------------------------------------------------------------------------------------------------------------------\n")

----------------------------------------------------------------------------------------------------------------------------------

* Tiger -->>

Scientific name of animal is : Panthera tigris
kingdom of animal is : Animalia
phylum of animal is : Chordata
class1 of animal is : Mammalia
order of animal is : Carnivora
family of animal is : Felidae
genus of animal is : Panthera
species of animal is : tigris

----------------------------------------------------------------------------------------------------------------------------------

* Horsee -->>

Scientific name of animal is : Equus caballus
kingdom of animal is : Animalia
phylum of animal is : Chordata
class1 of animal is : Mammalia
order of animal is : Perissodactyla
family of animal is : Equidae
genus of animal is : Equus
species of animal is : E. ferus

----------------------------------------------------------------------------------------------------------------------------------

* Dog -->>

Scientific name of animal is : Canis lupus familiarise
kingdom of animal is : Animalia
phylum of animal is : Chordata
class1 of animal is : Mammalia
order of animal is : Carnivora
family of animal is : Canidae
genus of animal is : Canis
species of animal is : Canis lupus

----------------------------------------------------------------------------------------------------------------------------------

* Cat -->>

Scientific name of animal is : Felis catus
kingdom of animal is : Animalia
phylum of animal is : Chordata
class1 of animal is : Mammalia
order of animal is : Carnivora
family of animal is : Felidae
genus of animal is : Felis
species of animal is : Catus

----------------------------------------------------------------------------------------------------------------------------------

In [7]:
import math
r=10
print(math.pi*r*r)

314.1592653589793

In [9]:
#Area and circumference of circle using class and object
import math

class area:
    def __init__(self,radius):
        self.radius = radius
    def calc(self):
        area = 3.14*(self.radius*self.radius)
        circum = 2*math.pi*self.radius
        print(f"Area of circle is : ",area)
        print(f"Cicumference of circle is : ",circum)

radius = int(input("Enter radius"))

circle = area(radius)
circle.calc()

Enter radius 23

Area of circle is :  1661.0600000000002
Cicumference of circle is :  144.51326206513048

In [10]:
math.pi

3.141592653589793

In [11]:
22/7

3.142857142857143

In [15]:
### Surface area and volume cylinder using class and object

import math
class area:
    def __init__(self,radius,height):
        self.radius = radius
        self.height = height
    def calc(self):
        surface_area = 2*math.pi*self.radius*(self.height + self.radius)
        volume = math.pi*(self.radius)*(self.radius)*(self.height)
        print(f"Surface Area of cylinder is : ",surface_area)
        print(f"Volume  of cylinder is : ",volume)

radius = int(input("Enter radius"))
height = int(input("Enter height"))

cylinder = area(radius,height)
cylinder.calc()

Enter radius 10
Enter height 30

Surface Area of cylinder is :  2513.2741228718346
Volume  of cylinder is :  9424.77796076938

In [3]:
# 1. Create a class calculator to represent with add,sub,multiply and divide and exponent method.

class calculator:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def sum(self):
        sum1=self.a+self.b
        print(f'The sum of the two value is:{sum1}')

    def sub(self):
        sub1=self.a-self.b
        print(f'The sub of two value is: {sub1}')

user1=int(input('Enter first value:'))
user2=int(input('Enter second value:'))
x=calculator(user1,user2)
x.sum()
x.sub()

Enter first value: 45
Enter second value: 10

The sum of the two value is:55
The sub of two value is: 35

In [4]:
2**3

8

In [9]:
class calculator:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def sum(self):
        sum1=self.a+self.b
        print(f'the sum of the two value is:{sum1}')
        
    def sub(self):
        sub1=self.a-self.b
        print(f'the sub of two  value is:{sub1}')
        
    def multiply(self):
        multiply1=self.a*self.b
        print(f'the multiplication of two value is:{multiply1}')
        
    def divide(self):
        divide1=self.a/self.b
        print(f'The division of two value is: {divide1}')

    def exponent(self):
        exponent1=self.a**self.b
        print(f'The Exponenet of two number: {exponent1}')
        
user1=int(input('enter any value'))
user2=int(input('enter any value'))
x=calculator(user1,user2)
x.sum()
x.sub()
x.multiply()
x.divide()
x.exponent()

enter any value 45
enter any value 2

the sum of the two value is:47
the sub of two  value is:43
the multiplication of two value is:90
The division of two value is: 22.5
The Exponenet of two number: 2025

In [14]:
# Create a class represent a book with attributes like title, author, and publication year.

class Book:
    def __init__(self,title,author,publicaton_year):
        self.title=title
        self.author=author
        self.publicaton_year=publicaton_year

    def book_detials(self):
        print(f'My Book is {self.title}')
        print(f'{self.title} author is {self.author}')
        print(f'{self.title} released in {self.publicaton_year}')

book=Book('The Story of My Life',"Helen Keller",1903)
book.book_detials()

My Book is The Story of My Life
The Story of My Life author is Helen Keller
The Story of My Life released in 1903

In [16]:
aditi=Book("Aditi's Life",'Laukik',1988)
aditi.book_detials()

My Book is Aditi's Life
Aditi's Life author is Laukik
Aditi's Life released in 1988

In [18]:
# circle with method to calculate it's area and circumference.  (2*pi*r) (2*pi*r)


class circle:
    def __init__(self,radius):
        self.radius=radius

    def area(self):
        area1=3.14*self.radius*self.radius
        print(f'The area of circle is:{area1}')
    def circumference(self):
        circumference1=2*3.14*self.radius
        print(f'The circumference of circle is:{circumference1}')

circle1=circle(10)
circle1.area()
circle1.circumference()

The area of circle is:314.0
The circumference of circle is:62.800000000000004

In [19]:
circle2=circle(20)
circle2.area()
circle2.circumference()

The area of circle is:1256.0
The circumference of circle is:125.60000000000001

In [20]:
circle1.circumference()

The circumference of circle is:62.800000000000004

In [21]:
circle2.circumference()

The circumference of circle is:125.60000000000001

In [24]:
# circle with method to calculate it's area and circumference.  (2*pi*r) (2*pi*r)
import math

class circle:
    def __init__(self,radius):
        self.radius=radius

    def area(self):
        area1=math.pi*self.radius*self.radius
        print(f'The area of circle is:{area1}')
    def circumference(self):
        circumference1=2*math.pi*self.radius
        print(f'The circumference of circle is:{circumference1}')

circle1=circle(10)
circle1.area()
circle1.circumference()

The area of circle is:314.1592653589793
The circumference of circle is:62.83185307179586

# Inheritance

 * __Single(simple) Inheritance: parent class and child class__
 * __Mutilevel Inheritance: parent/child-child__
 * __Mutiple Inheritance: Parent class/Parent Class- Child class__
 * __Hierarchical Inheritance: Parent class-Child class/Child class/Child class__

In [12]:
# Single Inheritance:

class parent:   # It is a parent class
    brand_name_1="Amazon"
    brand_name_2="Flipkart"
    brand_name_3="Myntra"

class child(parent):    # it is child of brands
    prod_1="Online Commerce Store."
    prod_2="Online Store"
    prod_3="E-Commerce Store"

obj_1=child()

print(obj_1.brand_name_1+' is an '+obj_1.prod_1)
print(obj_1.brand_name_1+' is an '+obj_1.prod_2)
print(obj_1.brand_name_1+' is an '+obj_1.prod_3)
print(obj_1.brand_name_2+' is an '+obj_1.prod_1)
print(obj_1.brand_name_2+' is an '+obj_1.prod_2)
print(obj_1.brand_name_2+' is an '+obj_1.prod_3)
print(obj_1.brand_name_3+' is an '+obj_1.prod_1)
print(obj_1.brand_name_3+' is an '+obj_1.prod_2)
print(obj_1.brand_name_3+' is an '+obj_1.prod_3)

Amazon is an Online Commerce Store.
Amazon is an Online Store
Amazon is an E-Commerce Store
Flipkart is an Online Commerce Store.
Flipkart is an Online Store
Flipkart is an E-Commerce Store
Myntra is an Online Commerce Store.
Myntra is an Online Store
Myntra is an E-Commerce Store

In [28]:
# Multilevel - Parent/Child-Child

class Brands:
    brand_name_1="Amazon"
    brand_name_2="Flipkart"
    brand_name_3="Myntra"

class child_1(Brands):
    prod_1="Online Commerce Store"
    prod_2="Online Store"
    prod_3="E-Commerce Store"

class child_2(child_1):
    popularity_1='100'
    popularity_2='500'
    popularity_3='1000'

obj_1=child_2()

print(obj_1.brand_name_1+" is an "+ obj_1.prod_1+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_1+" is an "+ obj_1.prod_2+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_1+" is an "+ obj_1.prod_3+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_1+" is an "+ obj_1.prod_2+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_1+" is an "+ obj_1.prod_2+" and its popularity "+ obj_1.popularity_2)
print(obj_1.brand_name_1+" is an "+ obj_1.prod_2+" and its popularity "+ obj_1.popularity_3)
print(obj_1.brand_name_1+" is an "+ obj_1.prod_3+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_1+" is an "+ obj_1.prod_3+" and its popularity "+ obj_1.popularity_2)
print(obj_1.brand_name_1+" is an "+ obj_1.prod_3+" and its popularity "+ obj_1.popularity_3)


print(obj_1.brand_name_2+" is an "+ obj_1.prod_1+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_2+" is an "+ obj_1.prod_2+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_2+" is an "+ obj_1.prod_3+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_2+" is an "+ obj_1.prod_2+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_2+" is an "+ obj_1.prod_2+" and its popularity "+ obj_1.popularity_2)
print(obj_1.brand_name_2+" is an "+ obj_1.prod_2+" and its popularity "+ obj_1.popularity_3)
print(obj_1.brand_name_2+" is an "+ obj_1.prod_3+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_2+" is an "+ obj_1.prod_3+" and its popularity "+ obj_1.popularity_2)
print(obj_1.brand_name_2+" is an "+ obj_1.prod_3+" and its popularity "+ obj_1.popularity_3)


print(obj_1.brand_name_3+" is an "+ obj_1.prod_1+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_3+" is an "+ obj_1.prod_2+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_3+" is an "+ obj_1.prod_3+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_3+" is an "+ obj_1.prod_2+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_3+" is an "+ obj_1.prod_2+" and its popularity "+ obj_1.popularity_2)
print(obj_1.brand_name_3+" is an "+ obj_1.prod_2+" and its popularity "+ obj_1.popularity_3)
print(obj_1.brand_name_3+" is an "+ obj_1.prod_3+" and its popularity "+ obj_1.popularity_1)
print(obj_1.brand_name_3+" is an "+ obj_1.prod_3+" and its popularity "+ obj_1.popularity_2)
print(obj_1.brand_name_3+" is an "+ obj_1.prod_3+" and its popularity "+ obj_1.popularity_3)

Amazon is an Online Commerce Store and its popularity 100
Amazon is an Online Store and its popularity 100
Amazon is an E-Commerce Store and its popularity 100
Amazon is an Online Store and its popularity 100
Amazon is an Online Store and its popularity 500
Amazon is an Online Store and its popularity 1000
Amazon is an E-Commerce Store and its popularity 100
Amazon is an E-Commerce Store and its popularity 500
Amazon is an E-Commerce Store and its popularity 1000
Flipkart is an Online Commerce Store and its popularity 100
Flipkart is an Online Store and its popularity 100
Flipkart is an E-Commerce Store and its popularity 100
Flipkart is an Online Store and its popularity 100
Flipkart is an Online Store and its popularity 500
Flipkart is an Online Store and its popularity 1000
Flipkart is an E-Commerce Store and its popularity 100
Flipkart is an E-Commerce Store and its popularity 500
Flipkart is an E-Commerce Store and its popularity 1000
Myntra is an Online Commerce Store and its popularity 100
Myntra is an Online Store and its popularity 100
Myntra is an E-Commerce Store and its popularity 100
Myntra is an Online Store and its popularity 100
Myntra is an Online Store and its popularity 500
Myntra is an Online Store and its popularity 1000
Myntra is an E-Commerce Store and its popularity 100
Myntra is an E-Commerce Store and its popularity 500
Myntra is an E-Commerce Store and its popularity 1000

In [38]:
# Multiple : parent/parent------> child class

class Brands:   #parent
    brand_name_1="Amazon"
    brand_name_2="Flipkart"
    brand_name_3="Myntra"

class product: # parent
    prod_1="Online Commerce Store"
    prod_2="Online Store"
    prod_3="E-Commerce Store"

class popularity(Brands,product):
    popularity_1='100'
    popularity_2='500'
    popularity_3='1000'

obj_1=popularity()

print(obj_1.brand_name_1+' is an '+obj_1.prod_1+' and its popularity is '+obj_1.popularity_1)
print(obj_1.brand_name_2+' is an '+obj_1.prod_2+' and its popularity is '+obj_1.popularity_2)
print(obj_1.brand_name_3+' is an '+obj_1.prod_3+' and its popularity is '+obj_1.popularity_3)

Amazon is an Online Commerce Store and its popularity is 100
Flipkart is an Online Store and its popularity is 500
Myntra is an E-Commerce Store and its popularity is 1000

In [35]:
obj=product()
print(obj.brand_name_1)

Amazon

In [39]:
#Multiple parent1 and paren2 : child inherith both parents

class mom:
    mom_name = "Seema"
class Dad:
    dad_name = "Rajendra"
class child(mom,Dad):
    child_name = "Suraj"

new_ob = child()
print("My father name is "+new_ob.dad_name+", my mother name is "+new_ob.mom_name+", my name is "+new_ob.child_name)

My father name is Rajendra, my mother name is Seema, my name is Suraj

In [48]:
# Hierarchical Inheritance: Parent Class/child-child-child

class parent:
    brand_name_1="Amazon"
    brand_name_2="Flipkart"
    brand_name_3="Myntra"

class product(parent):
    prod_1="Online Commerce Store"
    prod_2="Online Store"
    prod_3="E-Commerce Store"

class popularity(parent):
    popularity_1='100'
    popularity_2='500'
    popularity_3='1000'

class value(parent):
    prod_value_1="Best Value"
    prod_value_2="Better Value"
    prod_value_3="Good Value"

obj_1=product()
obj_2=popularity()
obj_3=value()

print(obj_1.brand_name_1+' is an '+obj_1.prod_1+' its popularity '+obj_2.popularity_1+" and it value is "+obj_3.prod_value_1)
print(obj_2.brand_name_1)
print(obj_3.brand_name_1)

Amazon is an Online Commerce Store its popularity 100 and it value is Best Value
Amazon
Amazon

In [53]:
# Hybrid Inheritance:

class a:
    def name_a(self):
        print('Karan Johar')

class b:
    def name_b(self):
        print('Orry')

class c(a):
    def name_c(self):
        print('Yash and Roohi')

class d(b,c):
    def name_d(self):
        print('Final_Product')


obj_1=d()

obj_1.name_a()
obj_1.name_b()
obj_1.name_c()
obj_1.name_d()

Karan Johar
Orry
Yash and Roohi
Final_Product

In [54]:
class mom:
    mom_name = "Seema"
class Dad:
    dad_name = "Rajendra"


class child_1(mom):
    child_1_name='Rashmi'


class child(mom,Dad,child_1):
    child_name = "Suraj"

new_ob = child()
print("My father name is "+new_ob.dad_name+", my mother name is "+new_ob.mom_name+", my name is "+new_ob.child_name)

My father name is Rajendra, my mother name is Seema, my name is Suraj

# 4 Methods of oops concept
 * __1.Inheritance__
 * __2.Polymorphism__
 * __3.Encapsulation__
 * __4.Abstraction__

In [ ]:
a girl

mother
wife
writer
student
sister
friend
customer

In [55]:
# inheritance
Puppies

parent

same color
same breed
same features

SyntaxError: invalid syntax (3569431497.py, line 6)

In [ ]:
# Encapsulation

# a company

production deparments
hr department
marketing department

In [ ]:
# abstraction

# a mobile phone

# take sefile
# make calls
# play games
# browse internet
# ticket book