# 4. Tuples in Python

 * __Tuples are immutable lists and connot be changed in any way once it is created.__
 * __Tuples are defined in the same way as lists.__
 * __They are enclosed witin parenthesis and not within square braces.__
 * __Tuples are ordered, indexed collections of data.__
 * __Similar to string indices, the first value in the tupel will have the index[0], and the second value is [1].__
 * __Negative indices are counted from the end of the tuple, just like lists.__
 * __Tuple also has the same structure where commas separate the value.__
 * __Tuples can store duplicate values.__
 * __Tuples allow you to store several data items including string, integer, float in one variable.__

In [9]:
tuple_1=("Hello",'Python',3.14,1.618,True,False,32,[10,20],{1,2,3},{'Name':"Jyoti"},(0,1))
print(tuple_1)
print(type(tuple_1))

('Hello', 'Python', 3.14, 1.618, True, False, 32, [10, 20], {1, 2, 3}, {'Name': 'Jyoti'}, (0, 1))
<class 'tuple'>

In [10]:
print(len(tuple_1))

11

In [15]:
# indexing of tuple
print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])
print(tuple_1[10])

Hello
Python
3.14
(0, 1)

In [16]:
print(tuple_1[-1])

(0, 1)

# Concatenation of tuples

 * __To concatenate tuple + sign is used.__

In [21]:
print(tuple_1)

tuple_2=("hello world",2024)
print(tuple_2)

tuple_3=tuple_1+tuple_2
print(tuple_3)

('Hello', 'Python', 3.14, 1.618, True, False, 32, [10, 20], {1, 2, 3}, {'Name': 'Jyoti'}, (0, 1))
('hello world', 2024)
('Hello', 'Python', 3.14, 1.618, True, False, 32, [10, 20], {1, 2, 3}, {'Name': 'Jyoti'}, (0, 1), 'hello world', 2024)

In [27]:
# insert 

tuple_4=("Hello Python",100)

tuple_4.insert(0,"Jyoti")
print(tuple_4)
print(type(tuple_4))

AttributeError: 'tuple' object has no attribute 'insert'

In [28]:
tuple_4

('Hello Python', 100)

In [31]:
# update the value in list

list1=['Hello world',"I am aditi",100]
list1[2]=40
list1

['Hello world', 'I am aditi', 40]

In [33]:
# update the value in tuple
tuple_4[1]=40
tuple_4

TypeError: 'tuple' object does not support item assignment

In [37]:
# Repetition of tuple

rep_tup=(1,2,3,4)
print(rep_tup)

rep_tup*3

(1, 2, 3, 4)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [38]:
x='Aditi'
x*2

'AditiAditi'

# membership in tuple

In [42]:
x=(40,50,60,70,80)

print(70 in x)
print(2 in x)
print(40 not in x)

True
False
False

In [43]:
x

(40, 50, 60, 70, 80)

In [44]:
min(x)

40

In [45]:
max(x)

80

In [46]:
sum(x)

300

In [48]:
print(tuple_1)

('Hello', 'Python', 3.14, 1.618, True, False, 32, [10, 20], {1, 2, 3}, {'Name': 'Jyoti'}, (0, 1))

In [52]:
# Slicing of tuple
tuple_1[1:6]

('Python', 3.14, 1.618, True, False)

In [53]:
tuple_1[8:10]

({1, 2, 3}, {'Name': 'Jyoti'})

In [56]:
# sorting in tuple

x1=(0,9,5,4,3,5,8,7,90,100)
print(x1)
print(type(x1))

(0, 9, 5, 4, 3, 5, 8, 7, 90, 100)
<class 'tuple'>

In [58]:
y1=sorted(x1)
print(y1)
print(type(y1))

[0, 3, 4, 5, 5, 7, 8, 9, 90, 100]
<class 'list'>

# Nested tuple

 * __In Python, a tuple written another tuple is known as a nested tuple.__

In [59]:
nested_tuple=('Hello world',(0,1),('Hi','Python'),(3.14,"pi",1.618,"Ratio"))
nested_tuple

('Hello world', (0, 1), ('Hi', 'Python'), (3.14, 'pi', 1.618, 'Ratio'))

In [66]:
print(nested_tuple[0])
print(nested_tuple[1])
print(nested_tuple[2])
print(nested_tuple[3])

Hello world
(0, 1)
('Hi', 'Python')
(3.14, 'pi', 1.618, 'Ratio')

In [67]:
print(nested_tuple[2][1])

Python

# Tuples are immutable

In [70]:
tuple_4=(1,3,5,7)
tuple_4[0]=10
print(tuple_4)

TypeError: 'tuple' object does not support item assignment

# Delete a tuple

 * __An element in a tuple can not be deleted since it is immutable.__
 * __But a whole tuple can be deleted.__

In [71]:
tuple_4

(1, 3, 5, 7)

In [72]:
print("Before deleting:",tuple_4)

Before deleting: (1, 3, 5, 7)

In [73]:
del(tuple_4)

In [75]:
print("After deleting:",tuple_4)

NameError: name 'tuple_4' is not defined

In [77]:
tuple_5=(10,20,30)
del(tuple_5[0])

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
# Create a tuple:
# integer, string, Boolean, Nested tuple, Nested set, Nest List, Nested Dictionary.
# access all elements using positive index value.