# 5. Sets in Python

 * __Set is one of the 4th built-in data types in Python used to store collections of data including List, Tuple, and Dictionary.__
 * __Sets are unordered, but you can remove items and add new items.__
 * __Set elements are unique, Duplicate elements are not allowed.__
 * __A set itself may be modified, but the elements contained in the set must be of an immutable type.__
 * __You can denote a set with a pair of curly brackets. {}__

In [1]:
x={}
print(x)

{}

In [2]:
type(x)

dict

In [4]:
x1=set()
x1

set()

In [5]:
print(type(x1))

<class 'set'>

In [6]:
set1={"Hello World",3.14,1.618,True,False,"Hello world",3.14,1.618,True,False,"Aditi"}
set1

{1.618, 3.14, 'Aditi', False, 'Hello World', 'Hello world', True}

In [11]:
nlis=["Hello World",3.14,1.618,True,False,"Hello world",3.14,1.618,True,False,"Aditi","Jyoti Pawar","Khurde","Sahil"]
print(nlis)

# Converting a list into a set

set2=set(nlis)
print(set2)

['Hello World', 3.14, 1.618, True, False, 'Hello world', 3.14, 1.618, True, False, 'Aditi', 'Jyoti Pawar', 'Khurde', 'Sahil']
{False, 1.618, True, 3.14, 'Hello World', 'Sahil', 'Hello world', 'Jyoti Pawar', 'Aditi', 'Khurde'}

# Set operations

# add() functions

In [12]:
set3={"Hello world",True,False}
set3

{False, 'Hello world', True}

In [13]:
set3.add("Hello Aditi")
set3

{False, 'Hello Aditi', 'Hello world', True}

In [15]:
set3.add("Hello Jyoti")
set3

{False, 'Hello Aditi', 'Hello Jyoti', 'Hello world', True}

# update() function

In [16]:
set3

{False, 'Hello Aditi', 'Hello Jyoti', 'Hello world', True}

In [19]:
set4={7,8,9,10,"Hello Aditi"}
set3.update(set4)
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti', 'Hello world', True}

# remove() function

In [20]:
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti', 'Hello world', True}

In [21]:
set3.remove("Hello world")
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti', True}

In [22]:
set3.remove("Hello world")
set3

KeyError: 'Hello world'

# discard() function

In [23]:
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti', True}

In [24]:
set3.discard("Hello world")
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti', True}

In [25]:
set3.discard(True)
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti'}

In [26]:
set3.discard(True)
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti'}

# To find the union between two sets.

In [27]:
set4=set(["Hello Python",3.14,1.618,"Hello World"])
set5=set([3.14,1.618,True,False,2024])

print(set4,set5)

{'Hello Python', 1.618, 3.14, 'Hello World'} {False, 1.618, True, 3.14, 2024}

In [28]:
# union

set4.union(set5)

{1.618, 2024, 3.14, False, 'Hello Python', 'Hello World', True}

# To find intersection between two sets.

In [29]:
set4=set(["Hello Python",3.14,1.618,"Hello World"])
set5=set([3.14,1.618,True,False,2024])

print(set4,set5)

{'Hello Python', 1.618, 3.14, 'Hello World'} {False, 1.618, True, 3.14, 2024}

In [31]:
set4.intersection(set5)

{1.618, 3.14}

In [32]:
# another method
x=set4&set5
x

{1.618, 3.14}

# difference() function

In [34]:
set4=set(["Hello Python",3.14,1.618,"Hello World"])  #A
set5=set([3.14,1.618,True,False,2024])   # B

# A-B   (B-A)

print(set4-set5)
print(set5-set4)

{'Hello Python', 'Hello World'}
{False, True, 2024}

In [38]:
# Another method
#A-B
print(set4.difference(set5))

# B-A
print(set5.difference(set4))

{'Hello Python', 'Hello World'}
{False, True, 2024}

# Symmetric difference between two sets

In [39]:
set_a={1,2,3,4}
set_b={3,4,5,6}

x=set_a.symmetric_difference(set_b)
x

{1, 2, 5, 6}

In [8]:
a=[1,2,3,4,5,6,7,8,9,1,2,3,3,3,4,4,5,5,5,6,50,50]
b={1,2,3,4,5,6,7,8,9,1,2,3,3,3,4,4,5,5,5,6,50,50}

print(a)
print(b)

print("Mininum number of a is:",min(a))
print("Mininum number of b is:",min(b))
print("Maximum number of a is:",max(a))
print("Maximum number of b is:",max(b))
print("Maximum number of a is:",max(a))
print("Total sum of the number of a is:",sum(a))
print("Total sum of the number of b is:",sum(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 3, 3, 4, 4, 5, 5, 5, 6, 50, 50]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 50}
Mininum number of a is: 1
Mininum number of b is: 1
Maximum number of a is: 50
Maximum number of b is: 50
Maximum number of a is: 50
Total sum of the number of a is: 186
Total sum of the number of b is: 95

In [11]:
set_6={"Python",1,2,3,(1,2,3)}
set_6

{(1, 2, 3), 1, 2, 3, 'Python'}

In [12]:
set_6={"Python",1,2,3,[1,2,3]}
set_6

TypeError: unhashable type: 'list'

In [13]:
set_6={"Python",1,2,3,["Python",7,8,9]}
set_6

TypeError: unhashable type: 'list'

In [14]:
# index value

set_6

{(1, 2, 3), 1, 2, 3, 'Python'}

In [15]:
set_6[0]

TypeError: 'set' object is not subscriptable

# clear() function

In [16]:
x={0,10,20,30,40,502}
x

{0, 10, 20, 30, 40, 502}

In [17]:
x.clear()

In [18]:
x

set()

# pop() function

In [19]:
x={0,1,2,3,4,5,6,7,8,9}
x

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
x.pop()
print(x)

{5, 6, 7, 8, 9}

In [25]:
a={}
a

{}

# dict() function

In [26]:
dict_sample=dict(name="Aditi",age=25,phone_no=456123789,address='pune')
dict_sample

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}

In [27]:
dict_sample.keys()

dict_keys(['name', 'age', 'phone_no', 'address'])

In [28]:
dict_sample.values()

dict_values(['Aditi', 25, 456123789, 'pune'])

# clear() function

In [29]:
dict_sample1=dict(name="Aditi",age=25,phone_no=456123789,address='pune')
dict_sample1

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}

In [30]:
dict_sample1.clear()
dict_sample1

{}

# Copy() function

In [35]:
dict_sample=dict(name="Aditi",age=25,phone_no=456123789,address='pune')
print(dict_sample)

#deep copy

aditi_dict=dict_sample
print(aditi_dict)

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}
{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}

In [36]:
dict_sample['name']='aditi kute'
print(dict_sample)

{'name': 'aditi kute', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}

In [37]:
aditi_dict

{'name': 'aditi kute', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}

In [39]:
dict_sample2=dict(name="Aditi",age=25,phone_no=456123789,address='pune')
print(dict_sample2)


aditi_dict2=dict_sample2.copy()
print(aditi_dict2)

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}
{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}

In [40]:
dict_sample2['address']='Mumbai'
dict_sample2

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'Mumbai'}

In [41]:
aditi_dict2

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}

# pop() items

In [42]:
dict_sample=dict(name="Aditi",age=25,phone_no=456123789,address='pune')
print(dict_sample)

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}

In [43]:
dict_sample.pop('address')
dict_sample

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789}

In [44]:
dict_sample=dict(name="Aditi",age=25,phone_no=456123789,address='pune')
print(dict_sample)
dict_sample.pop()
dict_sample

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}

TypeError: pop expected at least 1 argument, got 0

# pop() items

In [46]:
dict_sample=dict(name="Aditi",age=25,phone_no=456123789,address='pune')
print(dict_sample)

dict_sample.popitem()
print(dict_sample)

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}
{'name': 'Aditi', 'age': 25, 'phone_no': 456123789}

In [47]:
print(dict_sample.popitem())
print(dict_sample)

('phone_no', 456123789)
{'name': 'Aditi', 'age': 25}

In [49]:
dict_sample=dict(name="Aditi",age=25,phone_no=456123789,address='pune')
print(dict_sample)

print(dict_sample.pop("name"))
print(dict_sample)

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}
Aditi
{'age': 25, 'phone_no': 456123789, 'address': 'pune'}

In [50]:
dict_sample=dict(name="Aditi",age=25,phone_no=456123789,address='pune')
print(dict_sample)

print(dict_sample.popitem())
print(dict_sample)

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}
('address', 'pune')
{'name': 'Aditi', 'age': 25, 'phone_no': 456123789}

# get() function

In [51]:
dict_sample=dict(name="Aditi",age=25,phone_no=456123789,address='pune')
print(dict_sample)

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}

In [52]:
dict_sample.get("name")

'Aditi'

In [53]:
dict_sample.get('gender')

In [54]:
dict_sample

{'name': 'Aditi', 'age': 25, 'phone_no': 456123789, 'address': 'pune'}

In [55]:
print(dict_sample.get('gender'))

None

# fromkeys() function

In [58]:
keys={'name','age','phone_no','gender'}
a=dict.fromkeys(keys)
a

{'name': None, 'age': None, 'gender': None, 'phone_no': None}

In [60]:
a['name']="Aditi"

In [61]:
a

{'name': 'Aditi', 'age': None, 'gender': None, 'phone_no': None}