# 5. Sets in Python

 * __Set is one of the 4th built-in data types in Python used to store collections of data including List, Tuple, and Dictionary.__
 * __Sets are unordered, but you can remove items and add new items.__
 * __Set elements are unique, Duplicate elements are not allowed.__
 * __A set itself may be modified, but the elements contained in the set must be of an immutable type.__
 * __You can denote a set with a pair of curly brackets. {}__

In [1]:
x={}
print(x)

{}

In [2]:
type(x)

dict

In [4]:
x1=set()
x1

set()

In [5]:
print(type(x1))

<class 'set'>

In [6]:
set1={"Hello World",3.14,1.618,True,False,"Hello world",3.14,1.618,True,False,"Aditi"}
set1

{1.618, 3.14, 'Aditi', False, 'Hello World', 'Hello world', True}

In [11]:
nlis=["Hello World",3.14,1.618,True,False,"Hello world",3.14,1.618,True,False,"Aditi","Jyoti Pawar","Khurde","Sahil"]
print(nlis)

# Converting a list into a set

set2=set(nlis)
print(set2)

['Hello World', 3.14, 1.618, True, False, 'Hello world', 3.14, 1.618, True, False, 'Aditi', 'Jyoti Pawar', 'Khurde', 'Sahil']
{False, 1.618, True, 3.14, 'Hello World', 'Sahil', 'Hello world', 'Jyoti Pawar', 'Aditi', 'Khurde'}

# Set operations

# add() functions

In [12]:
set3={"Hello world",True,False}
set3

{False, 'Hello world', True}

In [13]:
set3.add("Hello Aditi")
set3

{False, 'Hello Aditi', 'Hello world', True}

In [15]:
set3.add("Hello Jyoti")
set3

{False, 'Hello Aditi', 'Hello Jyoti', 'Hello world', True}

# update() function

In [16]:
set3

{False, 'Hello Aditi', 'Hello Jyoti', 'Hello world', True}

In [19]:
set4={7,8,9,10,"Hello Aditi"}
set3.update(set4)
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti', 'Hello world', True}

# remove() function

In [20]:
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti', 'Hello world', True}

In [21]:
set3.remove("Hello world")
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti', True}

In [22]:
set3.remove("Hello world")
set3

KeyError: 'Hello world'

# discard() function

In [23]:
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti', True}

In [24]:
set3.discard("Hello world")
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti', True}

In [25]:
set3.discard(True)
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti'}

In [26]:
set3.discard(True)
set3

{10, 7, 8, 9, False, 'Hello Aditi', 'Hello Jyoti'}

# To find the union between two sets.

In [27]:
set4=set(["Hello Python",3.14,1.618,"Hello World"])
set5=set([3.14,1.618,True,False,2024])

print(set4,set5)

{'Hello Python', 1.618, 3.14, 'Hello World'} {False, 1.618, True, 3.14, 2024}

In [28]:
# union

set4.union(set5)

{1.618, 2024, 3.14, False, 'Hello Python', 'Hello World', True}

# To find intersection between two sets.

In [29]:
set4=set(["Hello Python",3.14,1.618,"Hello World"])
set5=set([3.14,1.618,True,False,2024])

print(set4,set5)

{'Hello Python', 1.618, 3.14, 'Hello World'} {False, 1.618, True, 3.14, 2024}

In [31]:
set4.intersection(set5)

{1.618, 3.14}

In [32]:
# another method
x=set4&set5
x

{1.618, 3.14}

# difference() function

In [34]:
set4=set(["Hello Python",3.14,1.618,"Hello World"])  #A
set5=set([3.14,1.618,True,False,2024])   # B

# A-B   (B-A)

print(set4-set5)
print(set5-set4)

{'Hello Python', 'Hello World'}
{False, True, 2024}

In [38]:
# Another method
#A-B
print(set4.difference(set5))

# B-A
print(set5.difference(set4))

{'Hello Python', 'Hello World'}
{False, True, 2024}

# Symmetric difference between two sets

In [39]:
set_a={1,2,3,4}
set_b={3,4,5,6}

x=set_a.symmetric_difference(set_b)
x

{1, 2, 5, 6}